* {
  box-sizing: border-box;
     border-radius: 10px;
     margin: 0;
     padding: 0;
}
html,body {
    height:100%;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 1em;
    background-color: #E3F7D4;
}

#app{
    background-color: #347B98;
    font-family: 'Oswald', sans-serif;
    padding: 0.7em 0 0.7em;
    min-height:100%;
}
#container{
    
}
.holder{
}
.header{
   min-height: 8vh;
}

h1{
    color: #091534;
    font-size: 7vw;
    text-align: center;
}
.zip{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label{
    color: #66B032;
    font-size: 5vw; 
    font-family: 'Oswald', sans-serif;
    display: block;
    text-align: center;
    font-weight: bolder;
}

input{
    display: block;
    color: #3476b8;
    font-size: 4vw;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin: 0.5em auto;
    padding: 1px 2px;
}

.feel{
  min-height: 25vh;
  display: flex;
    justify-content: center;
    flex-direction: column;
}
button{
    width: 40%;
    height: 1.5em;
    background: #091534;
    color: #66B032;
    font-size: 4vw;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: 1em auto 0.5em;
    display: block;
}
.entry{
    background-color: #E3F7D4;
    margin: 1em 2em 0;
    padding: 0.5em 1em;
    min-height: 42vh;

}


h2{
    font-size: 4.5vw;
    text-align: center;
}

#entryHolder{   
    font-size: 3.5vw;
   
}


#date{

}

#temp{

}

#content{

}

.headline {
   
}


.title{
}


hr{
    background-color:#66B032;
    height: 2px;
    width: 80%;
    margin: 0 auto;
}


@media (min-width: 481px) {
   #app{
    background-color: #347B98;
    font-family: 'Oswald', sans-serif;
    padding: 0.7em 0 0.7em;
    height:100%;
}
hr{
    display: none;
}
#container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh auto auto;
    grid-template-areas: 
    "header header header"
    "zip entry entry"
    "feel entry entry"
}
.header{
    grid-area: header;
}

h1{
    color: #091534;
    font-size: 3.5vw;
    text-align: center;
}
.zip{
    grid-area: zip;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.feel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-area: feel;
}
label{
    color: #66B032;
    font-size: 3vw; 
    font-family: 'Oswald', sans-serif;
    display: block;
    text-align: center;
    font-weight: bolder;
}

input{
    display: block;
    color: #3476b8;
    font-size: 3vw;
    font-family: 'Oswald', sans-serif;
    border: none;
   margin: 0.5em auto;
   padding: 1px 2px;
}
button{
    width: 90%;
    height: 1.5em;
    background: #091534;
    color: #66B032;
    font-size: 3vw;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: 1em auto 0.5em;
    display: block;
}
.entry{
    background-color: #E3F7D4;
    margin: 1em 2em;
    padding: 0.5em 1em;
    grid-area: entry;
}


h2{
    font-size: 4.5vw;
    text-align: center;
}

#entryHolder{   
    font-size: 3.5vw;
   
}

} 
